.container {
  height: 100vh;
  position: relative;
  padding: 0 10px;
}
.container::before {
  content: "";
  background-image: url("../../public/hero-bg.jpeg");
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  background-size: cover;
  opacity: 0.3;
  text-align: center;
}

.intro {
  height: 90%;
  position: relative;
  display: flex;
  z-index: 1;
  /* padding-left: 170px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 72px;
  color: black;
  font-weight: 700;
  text-align: center;
}
.profession {
  font-size: 32px;
  margin-top: -35px;
}

.links {
  display: flex;
}
.links a {
  padding-right: 50px;
}
.links a:hover img {
  filter: contrast(0);
}

/* Media Queries */
@media (max-width: 786px) {
  .container {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background: -webkit-linear-gradient(rgba(16, 16, 16, 0.8), rgba(115, 121, 196, 0.8)), url("https://bit.ly/2rlzaXi");
    background: linear-gradient(rgba(16, 16, 16, 0.8), rgba(115, 121, 196, 0.8)), url("../../public/touseef2.jpg"); 
  
  }
  .intro {
    padding: 0;
    align-items: center !important;
  }
  .name {
    font-size: 68px !important;
  }
  .profession {
    font-size: 32px !important;
    margin-top: -15px !important;
    font-weight: 600;
  }
  

}
@media (max-width: 524px) {
 
 
  .name {
    font-size: 48px !important;
  }
  .profession {
    font-size: 24px !important;
  
  }

  .links {
    margin-left: 30px;
    text-align: center;
  }
  

}

/* KEY FRAMES */

@keyframes show-up {
  0% {
    transform: scale(0.3);
    transition: transform ease-in 1s;
  }
  100% {
    transform: scale(1);
    transition: transform ease-in 1s;
  }
}
