.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio {
  position: relative;
}
.portfolio::before {
  content: "";
  width: 35%;
  position: absolute;
  bottom: -1px;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0%);
  background-color: #0563bb;
  height: 3px;
  position: absolute;
}
.portfolio::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: #ddd;
  position: absolute;
}
.container > p {
  text-align: center;
  font-size: 18px;
}
.container p {
  color: #728394;
}

.tabs {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  /* transition: all ease-in-out 1s; */
  gap: 15px;

}

.tabs div {
  width: 100px;
  text-align: center;
  margin-top: 8px;

}


.active {
  color: #0563bb !important;
  border-bottom-width: 2px;
  border-bottom-color: #0563bb;
  border-bottom-style: solid;
}

.tabs div {
  cursor: pointer;
}

.tabsElement {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.element {
  width: 100% !important;
  height: 100% !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


.element > div {
  width: 100%;
  height: 100%;
  position: relative;
  animation: show-up ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 460px;
  background:rgba(255, 255, 255, 0.7);
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all ease-in-out .3s;
  align-items: center;
  transform: scale(0) !important;
  left: 0;
  top: 0;
}

.wrapper::before{
  content: "";
  width: 48px;
  height: 48px;
  border-top: 3px solid #d7dce1;
  position: absolute;
  border-left: 3px solid #d7dce1;
  left: 0;
  margin: 20px;
  top: 0;
}
.wrapper::after{
  content: "";
  width: 48px;
  height: 48px;
  border-right: 3px solid #d7dce1;
  position: absolute;
  border-bottom: 3px solid #d7dce1;
  right:  0;
  margin: 20px;
  bottom: 0;
}

.element > div:hover .wrapper {
  transform: scale(1) !important;
}

.wrapper h4 {
  margin-bottom: 5px;
}

.wrapper small{
  margin-top: 5px;
  font-size: 16px;
  color: #728394;
}

.wrapper p {
  margin-bottom: 0px;
  font-size: larger;
  cursor: pointer;
}

.wrapper p:hover{
  color: #0563bb;
}


@keyframes show-up{
  0%{
    transform: scale(0);
  }

  100%{
    transform: scale(1);
  }
}


/* Media Queries */
@media (max-width: 786px) {
  .element {
    grid-template-columns: 1fr !important;
    align-self: center;
  }
}
