.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service {
  position: relative;
}
.service::before {
  content: "";
  width: 35%;
  position: absolute;
  bottom: -1px;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0%);
  background-color: #0563bb;
  height: 3px;
  position: absolute;
}
.service::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: #ddd;
  position: absolute;
}
.container > p {
  text-align: center;
  font-size: 18px;
}
.container p {
  color: #728394;
}
.development {
  width: 80%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin-bottom: 100px;
}

.card {
  height: 310px;
}

.cardInner {
  position: relative;
  width: 100%;
  border-radius: 20px !important;

  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card:hover .cardInner {
  transform: rotateY(180deg);
}

.frontPart,
.backPart {
  position: absolute;
  width: 100%;
  text-align: justify;
  border-radius: 20px !important;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.frontPart {
  background-color: #fff;
  color: #0563bb;
  display: flex;
  border-radius: 20px !important;
  justify-content: center;
  align-items: center;
}

.backPart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px !important;
  background-color: azure;
  color: #728394;
  overflow: auto;
  padding: 80px 15px 0px 15px;

  transform: rotateY(180deg);
}

.backPart > * {
  margin: 10px;
}

/* Media Queries */
@media (max-width: 786px) {
  .development {
    width: 100% !important;
    grid-template-columns: 1fr !important;
  }
}
