html,
body {
  padding: 0;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}
.primary {
  color: #0563bb;
}

.app {
  height: 100vh;
}

.layout {
  width: 100%;
  padding-left: 150px;
  padding-right: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.margin-left {
  margin-left: 130px;
}

/* Media Queries */

@media (max-width: 786px) {
  .layout {
    padding: 0px 20px;
  }
  
}
